body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    
    background-image:url("st1.gif");
    color: #ffee00;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #000000;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #000000;
}

footer {
    background-image:url("st1.gif");
    color: #ccff00;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
